.gradle
build
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/target

### IntelliJ IDEA ###
.idea
.idea/
*.iws
*.iml
*.ipr
**/out/**
*.lck

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
bin/
logs
*.log

###MAC###
.DS_Store